apps/backend/dist
apps/backend/node_modules
apps/backend/drizzle
apps/backend/.env

apps/frontend/node_modules
apps/frontend/.next
apps/frontend/.env.development
apps/frontend/src/pages/testqris/*
apps/frontend/src/utils/testQris.tsx
packages/types/node_modules
packages/types/dist

apps/transaction-service/tmp/*

node_modules
check-sizes.sh
index.html