services:
  minio:
    image: minio/minio:RELEASE.2023-12-23T07-19-11Z
    container_name: storageS3
    ports:
      - "9000:9000"      
      - "9001:9001"      
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    networks:
      - app-network
    restart: unless-stopped
  db:
    image: postgres:14
    container_name: db_development
    ports:
      - "5433:5432"
    networks:
      - app-network
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgres_data:/var/lib/postgres
    restart: unless-stopped
    
  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq_log:/var/log/rabbitmq
    networks:
      - app-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

volumes:
  rabbitmq_data:
    driver: local
  rabbitmq_log:
    driver: local

networks:
  app-network:
    driver: bridge
